html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  /* margin: 5em 10em; */
  width: 100%;
  height: 100%;
}

svg { 
  background-color: beige;
  width: 100%;
  height: 100%;
}

circle:hover {
  fill:orange;
  stroke:black;
  stroke-width:5px;
}

form {
  margin-left: 7.5em;
}

.info {
  fill: white;
  stroke: black;
  stroke-width: 3;
  
}

.small {
  font-size: 20px;
}
.medium {
  font-size: 30px;
}

.infoCircle:hover {
  fill: #4c66b2;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.modal {
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.delete {
  position: relative;
}
.inside-modal {
  background-color: beige;
  border-radius: 10%;
  padding: 2em;
}

.default-button {
  background-color:#4c66b2;
  color: white;
  border-radius: 10%;
  padding: 1em;
}

.default-button:hover {
  background-color: teal;
  color: white;
  border-radius: 10%;
  padding: 1em;
}

.delete-button {
  stroke: black;
  fill: #ED4337
}
.delete-button > text {
  stroke: white;
  fill: white;
}

.delete-button:hover {
  stroke: black;
  fill: #ff6961;
}

text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

line {
  stroke-dasharray: 0;
  stroke-width: 1;
}